<ion-content>
  <div class="reservas d-flex flex-column">
      <svg class="btn-back" width="28" height="23" viewBox="0 0 28 23" fill="none" tyle="position: absolute;z-index: 1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" (click)="back()">
        <rect width="28" height="23" fill="url(#pattern0)"/>
        <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_50_191" transform="translate(0.0892857) scale(0.00821429 0.01)"/>
        </pattern>
        <image id="image0_50_191" width="100" height="100" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABmJLR0QA/wD/AP+gvaeTAAABe0lEQVR4nO3bO0oDYRhG4aMIYq17sHEJVq5AxB1YWgjqDrw0Aa1cg4W6EQNeaivB1lYJRGIhA3FMMiOGfB/+54G/CQm85BBmCAlIkiRJkiRJkiRJkiRJkiRJklSqHeAJ6ANdYD12Ttk6wKB23oHVyFGlOuVnjOqcB+4q0qhPxvC5jJtWnqYYA2AvbF1h2sS4BRajBpZk0jWjOvfActTAkhgjEWMkYoxEjJGIMRIxRiLGSMQYiRgjwNyYxzvAYcNr34AD4HWqi8rQAx6B5zZPPqP5k+H5+/kAjptibCUYWtrZHA4wXwuyjWbt23teDzKY4RCNUA9yE7KibNdNT/CiPpvTB47qb763vTF6wB3w8psXndBc+QFYmeZSTWaUhIySkFESMkpCRknIKAkZJSGjJGSUhNr82LoLLEUNLFGbKPth6wrVFOUqblq5JkW5CNxVtHF/+lyLHFW6Xb6+66/usjZi56iyED1AkiRJkiRJkiRJkiRJkiRJkvQPfAJXpDFqyMKSlgAAAABJRU5ErkJggg=="/>
        </defs>
        </svg>

        <app-logo></app-logo>

        <div class="reservas-panel d-block">
          <div class="h-100 w-100">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
  </ion-content>
