<ion-content>
  <app-collectdata-layout>
    <div class="overflow-auto d-flex flex-column h-100" >
      <div class="d-block p-3">
        <h3>
          Indicadores dietéticos
        </h3>

      </div>
      <form [formGroup]="indicadorFrm" (ngSubmit)="ngSubmit()">
      <ion-list lines="full" class="ion-no-margin">
        <ion-item class="mt-2">
          <ion-label>¿Es alérgico o intolerante a algún alimento? <span>*</span></ion-label>
          <ion-select formControlName="alergia">
            <ion-select-option value="si">Si</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="mt-2">
          <ion-label position="stacked">Especifique los alimentos </ion-label>
          <ion-textarea placeholder="placeholder" formControlName="alimentos"></ion-textarea>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label>¿Consume algún suplemento? <span>*</span></ion-label>
          <ion-select formControlName="suplemento">
            <ion-select-option value="si">Si</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label position="stacked">Especifique los suplemento </ion-label>
          <ion-textarea placeholder="placeholder" formControlName="suplementoses"></ion-textarea>
        </ion-item>

      </ion-list>

      <div class="px-2 py-1 mt-5">
        <a class="btn-next"  type="button" (click)="ngSubmit()" expand="block">Siguiente
        </a>
      </div>
      </form>
    </div>
  </app-collectdata-layout>
</ion-content>
