.card_historial{
  .card-body{
    display: flex;
    .card_fecha{
      max-width: 25vw;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .card_detalle{
      font-size: 12px !important;
    }
  }
}
@media (prefers-color-scheme: dark) {
  .card_fecha{
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
  }
}

.agendar_cita{
  position: absolute;
  left: 0;
  padding: .3rem .5rem;
 // background: rgba(var(--ion-color-primary-rgb),.3);
  border-radius: 0px 0 0 10px;
}
.forward{
  position: absolute;
  right: 0;
  padding: 4rem .5rem;
}

.py-3 {
  padding-top: 2rem !important;
  padding-bottom: 1rem !important;
}

