<ion-content>
  <ion-icon (click)="back()" class="reservas" name="arrow-back-outline"></ion-icon>
  <app-collectdata-layout>
    <div class="overflow-auto d-flex flex-column h-100" >
      <div class="d-block p-3">
        <h3>
          Estilo de Vida
        </h3>

      </div>
      <form [formGroup]="estiloFrm" (ngSubmit)="ngSubmit()">
      <ion-list lines="full" class="ion-no-margin">
        <ion-item class="mt-2">
          <ion-label position="stacked" >¿Usted realiza ejercicio?  </ion-label>
          <ion-select formControlName="ejercicio" (ionChange)="changeEjercicio($event)">
            <ion-select-option value="si">Si</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="isshowEjercicio">
          <ion-label position="stacked" >Tipo de ejercicios que realiza  </ion-label>
            <ion-input formControlName="tipo"></ion-input>
        </ion-item>
        <ion-item class="mt-2" *ngIf="isshowEjercicio">
          <ion-label position="stacked" >¿Con qué frecuencia realiza éstos ejercicios?</ion-label>
          <ion-input formControlName="frecuenciaEjercicio"></ion-input>
        </ion-item>
        <ion-item class="mt-2" *ngIf="isshowEjercicio">
          <ion-label position="stacked" >¿Cuál es la duración?  </ion-label>
          <ion-input formControlName="duracionEjercicio"></ion-input>
        </ion-item>
        <ion-item class="mt-2" *ngIf="isshowEjercicio">
          <ion-label position="stacked" >¿Desde hace cuánto hace ejercicio?  </ion-label>
          <ion-input formControlName="desdeTiempo"></ion-input>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label position="stacked" >¿Consume alcohol? <span>*</span></ion-label>
          <ion-select formControlName="alcohol" (ionChange)="changeAlcohol($event)">
            <ion-select-option value="si">Si</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="mt-2" *ngIf="isshowAlcol">
                <ion-label position="stacked" >Frecuencia </ion-label>
                <ion-input formControlName="frecuenciaAlcohol"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="mt-2" *ngIf="isshowAlcol">
                <ion-label position="stacked" >Cantidad: </ion-label>
                <ion-input formControlName="cantidadAlcohol"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item class="mt-2">
          <ion-label position="stacked" >¿Consume café? <span>*</span></ion-label>
          <ion-select formControlName="cafe" (ionChange)="changeCafe($event)">
            <ion-select-option value="si">Si</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="mt-2" *ngIf="isshowCafe">
                <ion-label position="stacked" >Frecuencia: </ion-label>
                <ion-input formControlName="frecuenciaCafe"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="mt-2" *ngIf="isshowCafe">
                <ion-label position="stacked" >Cantidad </ion-label>
                <ion-input formControlName="cantidadCafe"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item class="mt-2">
          <ion-label position="stacked" >¿Consume dulces y chocolate? <span>*</span></ion-label>
          <ion-select formControlName="dulces" (ionChange)="changeDulce($event)">
            <ion-select-option value="si">Si</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="mt-2" *ngIf="isshowDulce">
                <ion-label position="stacked" >Frecuencia: </ion-label>
                <ion-input formControlName="frecuenciaDulces"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="mt-2" *ngIf="isshowDulce">
                <ion-label position="stacked" >Cantidad </ion-label>
                <ion-input formControlName="cantidadDulces"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item class="mt-2">
          <ion-label position="stacked" >¿Consume bebidas azucaradas? <span>*</span></ion-label>
          <ion-select formControlName="bebidas">
            <ion-select-option value="si">Si</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <div class="px-2 py-1 mt-5">
        <a class="btn-next"  type="button" (click)="ngSubmit()" expand="block">Siguiente
        </a>
      </div>
    </form>
    </div>
  </app-collectdata-layout>
</ion-content>
