<ion-content>
  <app-collectdata-layout>
    <div class="overflow-auto d-flex flex-column h-100" >
      <div class="d-block p-3">
        <h3>
          Estilo de Vida
        </h3>

      </div>
      <ion-list lines="full" class="ion-no-margin">
        <ion-item class="mt-2">
          <ion-label>¿Usted realiza ejercicio?  <span>*</span></ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Tipo de ejercicios que realiza  <span>*</span></ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label>¿Con qué frecuencia realiza éstos ejercicios?</ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label>¿Cuál es la duración?  <span>*</span></ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label>¿Desde hace cuánto hace ejercicio?  <span>*</span></ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label>¿Consume alcohol? <span>*</span></ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="mt-2">
                <ion-label>Frecuencia <span>*</span></ion-label>
                <ion-select >
                  <ion-select-option value="apples">Apples</ion-select-option>
                  <ion-select-option value="oranges">Oranges</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="mt-2">
                <ion-label>Cantidad: <span>*</span></ion-label>
                <ion-select >
                  <ion-select-option value="apples">Apples</ion-select-option>
                  <ion-select-option value="oranges">Oranges</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item class="mt-2">
          <ion-label>¿Consume café? <span>*</span></ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="mt-2">
                <ion-label>Frecuencia: <span>*</span></ion-label>
                <ion-select >
                  <ion-select-option value="apples">Apples</ion-select-option>
                  <ion-select-option value="oranges">Oranges</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="mt-2">
                <ion-label>Cantidad <span>*</span></ion-label>
                <ion-select >
                  <ion-select-option value="apples">Apples</ion-select-option>
                  <ion-select-option value="oranges">Oranges</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item class="mt-2">
          <ion-label>¿Consume dulces y chocolate? <span>*</span></ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="mt-2">
                <ion-label>Frecuencia: <span>*</span></ion-label>
                <ion-select >
                  <ion-select-option value="apples">Apples</ion-select-option>
                  <ion-select-option value="oranges">Oranges</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="mt-2">
                <ion-label>Cantidad <span>*</span></ion-label>
                <ion-select >
                  <ion-select-option value="apples">Apples</ion-select-option>
                  <ion-select-option value="oranges">Oranges</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item class="mt-2">
          <ion-label>¿Consume bebidas azucaradas? <span>*</span></ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <div class="px-2 py-1 mt-5">
        <a class="btn-next"  type="button" (click)="go()" expand="block">Siguiente
        </a>
      </div>
    </div>
  </app-collectdata-layout>
</ion-content>
