<ion-content>
  <ion-icon (click)="back()" class="reservas" name="arrow-back-outline"></ion-icon>
  <app-collectdata-layout>
    <div class="overflow-auto d-flex flex-column h-100" >
      <div class="d-block p-3">
        <h3>
          Indicadores dietéticos
        </h3>

      </div>
      <form [formGroup]="indicadorFrm" (ngSubmit)="updateFicha()">
      <ion-list lines="full" class="ion-no-margin">

        <ion-item class="mt-2">
          <ion-label class="label" position="stacked">¿Cuáles son las preparaciones de tu preferencia? (Ejem: cevivhe, arroz con pollo, etc.)  </ion-label>
          <ion-textarea placeholder="placeholder" formControlName="preferencia"></ion-textarea>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label class="label" position="stacked">¿Cuáles son los alimentos o preparaciones que te desagradan?   </ion-label>
          <ion-textarea placeholder="placeholder" formControlName="desagradan"></ion-textarea>
        </ion-item>
      </ion-list>
      </form>
      <div class="px-2 py-1 mt-5">
        <a class="btn-next"  type="button" (click)="updateFicha()" expand="block">Siguiente
        </a>
      </div>
    </div>
  </app-collectdata-layout>
</ion-content>
