h3{
  font-family: 'Signika';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 35px;
/* identical to box height, or 140% */

text-align: center;
letter-spacing: -0.24px;

color: rgba(0, 0, 0, 0.85);
}
.btn-next{
  width: 290px;
height: 72px;

background: #05AD2F;
border-radius: 24px;
margin: auto;
text-decoration: none;
text-align: center;
    padding: 0 20px;
    margin: 20px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    font-family: 'Signika';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.05em;

color: #FFFFFF;
}
.label{
  font-family: 'Signika';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 24px;
/* or 140% */

letter-spacing: -0.24px;

color: rgba(0, 0, 0, 0.45);
}
.reservas{
  padding: 10px;
}
