<ion-content>
  <ion-app>
    <ion-tabs>

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="plan">
          <ion-label>Plan</ion-label>
          <ion-icon name="restaurant-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="monitoreo">
          <ion-label>Monitoreo</ion-label>
          <ion-icon name="speedometer-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="actividad">
          <ion-label>Actividad</ion-label>
          <ion-icon name="duplicate-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="mas">
          <ion-label>Mas</ion-label>
          <ion-icon name="menu-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-app>
</ion-content>
