<div class="px-2 py-1 divider" style="flex: 1">
  <div class=" px-2 py-3 overflow-hidden">
    <p class="txt-act">Actividad</p>
    <div class="back"  ><ion-icon name="chevron-back-circle-outline"></ion-icon></div>
    <div class="forward"  ><ion-icon name="chevron-forward-circle-outline"></ion-icon></div>
      <div class=" py-1 px-3 d-flex flex-column justify-content-center align-items-center ">
        <p class="mx-0 mb-2"><br><span class="fw-bold">Hoy</span></p>
        <p class="mx-0 mb-2">Lunes, 1 ago.</p>
      </div>
    </div>
</div>
<div class="p-2 position-relative" style="overflow-y:auto;overflow-x: hidden;flex:10">
  <form [formGroup]="registerAct">
  <p class="h4 mt-3 txt-1">Peso</p>
  <div class="overflow-auto d-flex flex-column  ion-align-items-center ion-justify-content-center p-4">
    <ion-item class="mt-3">
      <ion-input placeholder="peso" class="input-color" formControlName="peso" ></ion-input>
      <p class="input-color">Kg</p>
    </ion-item>

  </div>
  <p class="h4 mt-3 txt-1">Perímetro abdominal</p>
  <div class="overflow-auto d-flex flex-column  ion-align-items-center ion-justify-content-center p-4">
    <ion-item class="mt-3">
      <ion-input placeholder="perimetro abdominal" class="input-color" formControlName="perimetro" ></ion-input>
      <p class="input-color">cm</p>
    </ion-item>
  </div>
</form>
  <div class=" mt-3 d-flex justify-content-center align-items-center ">
    <ion-button color="success" [disabled]="isDesable" (click)="crearSeguimiento()" >APLICAR PROGRESO</ion-button>
  </div>

</div>
