<ion-content>
  <app-collectdata-layout>
    <div class="overflow-auto d-flex flex-column h-100" >
      <div class="d-block p-3">
        <h3>
          Datos Personales
        </h3>

      </div>
      <form [formGroup]="personalFrm" (ngSubmit)="ngSubmit()">
      <ion-list lines="full" class="ion-no-margin">
        <ion-item class="mt-2">
          <ion-label position="stacked" >Sexo:</ion-label>
          <ion-input [disabled]="true" formControlName="genero"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Edad:</ion-label>
          <ion-input [disabled]="true" formControlName="edad"></ion-input>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label position="stacked">Estatura (cm):</ion-label>
          <ion-input formControlName="estatura"></ion-input>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label position="stacked">Peso (kg):</ion-label>
          <ion-input formControlName="peso"></ion-input>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label position="stacked">Perímetro abdominal (cm):</ion-label>
          <ion-input formControlName="perimetro"></ion-input>
        </ion-item>
      </ion-list>

      <div class="px-2 py-1 mt-5">
        <a class="btn-next"  type="button" (click)="ngSubmit()" expand="block">Siguiente
        </a>
      </div>
      </form>
    </div>
  </app-collectdata-layout>
</ion-content>
