<ion-content class="overflow-hidden">

  <div class="login-content d-flex px-4 align-items-center w-100 h-100 overflow-auto login-container">
    <div class="d-flex flex-column ion-justify-content-between w-100 h-100 ">
      <div class="py-3 text-center d-flex flex-column ion-justify-content-center" style="">
        <app-logo></app-logo>
        <div class="message px-3 mt-4">
          <p>¿Cuál es tu Objetivo?</p>
        </div>
        <div class="row py-2 px-3">
          <div class="col-12">
            <div (click)="go()" class="card   border-0 shadow-sm">
              <div class="card-body rounded">
                <p class="p-text">
                  Perde peso
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row py-2 px-3">
          <div class="col-12">
            <div class="card  border-0 shadow-sm">
              <div class="card-body rounded">
               <p class="p-text">Mantener Peso</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row py-2 px-3">
          <div class="col-12">
            <div class="card  border-0 shadow-sm">
              <div class="card-body rounded">
               <p class="p-text">Ganar Masa Muscular</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
