.txt-moni{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 15px;
letter-spacing: 0.25px;

color: #000000;
}
.txt-sub{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
/* or 100% */

letter-spacing: 0.25px;

color: #59595B;
}
.txt-2{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 15px;
letter-spacing: 0.25px;

color: #000000;
}
.txt-3{
  font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.25px;

color: #000000;
}
