<div class="px-2 py-1 divider" style="flex: 1">
  <div class=" px-2 py-3 overflow-hidden">
    <p class="txt-moni">Monitoreo</p>
      <div class=" py-1 px-3 d-flex flex-column justify-content-center align-items-center ">
        <p class="mx-0 mb-2 txt-2"><br><span class="fw-bold">Datos de salud</span></p>
        <p class="mx-0 mb-2 txt-3">Los datos se calculan deacuerdo con tu seguimiento</p>
      </div>
    </div>
</div>
<div class="p-2 position-relative" style="overflow-y:auto;overflow-x: hidden;flex:10">
  <ion-content>

    <div class="container">
      <div class="row p">
        <div class="col-12">
          <ion-card>
            <ion-card-header>
              Peso
            </ion-card-header>
            <ion-card-content>
              <canvas #lineCanvas  style="position: relative; height:20vh; width:40vw"></canvas>
            </ion-card-content>
          </ion-card>
          <ion-list >
            <ion-list-header>
              <ion-label>{{formatDate(ficha.fecha_registro)}} <br> {{ficha.peso_inicial}} kg</ion-label>
              <ion-label class="forward" >Actual <br> {{ficha.peso_actual}} kg</ion-label>
            </ion-list-header>
            <ion-progress-bar color="warning" class="justify-content-center align-items-center" value="1"></ion-progress-bar>
          </ion-list>
        </div>
        <div class="col-12">
          <ion-card>
            <ion-card-header>
              Medida abdominal
            </ion-card-header>
            <ion-card-content >
              <canvas #lineCanvas2  style="position: relative; height:20vh; width:40vw"></canvas>
            </ion-card-content>
          </ion-card>
          <ion-list>
            <ion-list-header>
              <ion-label>{{formatDate(ficha.fecha_registro)}} <br> {{ficha.perimetro_abdominal_inicial}} cm</ion-label>
              <ion-label class="forward" >Actual <br> {{ficha.perimetro_abdominal_actual}} cm</ion-label>
            </ion-list-header>
            <ion-progress-bar color="warning" value="1"></ion-progress-bar>
          </ion-list>
        </div>

      </div>
      <div class="row p-3">
        <p class="txt-sub">Cumplimiento del plan {{datoPorcentaje}}%</p>
        <ion-progress-bar [value]="datoPorcentaje / 100"></ion-progress-bar>

      </div>
    </div>
    <ion-infinite-scroll *ngIf="enableInfinteScroll" threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        [loadingSpinner]="'crescent'">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div>
