h4{
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.85);
}
.p-text{
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.45);
}
.content-search{
  flex: 1;
}
.position-relative{
  overflow-y:auto;
  overflow-x: hidden;
  flex:10;
}
.div-for{
  min-height: 100%;
}
.div-button{
  flex: 1;
}
