h4{
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.85);
}
.p-text{
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.45);
}
.content-search{
  flex: 1;
}
.position-relative{
  overflow-y:auto;
  overflow-x: hidden;
  flex:10;
}
.div-for{
  min-height: 100%;
}
.div-button{
  flex: 1;
}

.txt-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #59595B;
}

.card-sede{
  border: 2px solid #F9A102;
  border-radius: 24px;
}
.card-sede {
  .card-body {
    transition: all .2s ease-in;
  }

  &.active {
    .card-body {
      background: rgba(var(#3880FF), .9) !important;
      color: white;
    }
  }
}
.text-break{
  font-family: 'Signika';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
text-align: center;
letter-spacing: 0.05em;

color: #59595B;
}
input[type=checkbox] {
  padding: 0;
  position: absolute;
  margin-left: 24px;
  box-sizing: border-box;
}
.reservas{
  padding: 10px;
}
