<ion-content>
  <app-collectdata-layout>
    <div class="overflow-auto d-flex flex-column h-100" >
      <div class="d-block p-3">
        <h3>
          Preguntas importantes
        </h3>

      </div>
      <form [formGroup]="questFrm" (ngSubmit)="updateFicha()">
      <ion-list lines="full" class="ion-no-margin">
        <ion-item class="mt-2">
          <ion-label  position="stacked">¿Cuentas con balanza en casa? <span>*</span></ion-label>
          <ion-select formControlName="balanzacasa">
            <ion-select-option value="si">Si</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="mt-2">
          <ion-label position="stacked">¿Cuentas con balanza de alimentos en casa?  <span>*</span></ion-label>
          <ion-textarea formControlName="balanzaalimento" placeholder="placeholder"></ion-textarea>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label  position="stacked">¿Cuentas con accesorios para entrenar en casa? <span>*</span></ion-label>
          <ion-select formControlName="accesorios">
            <ion-select-option value="si">Si</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label position="stacked">Indicar accesorios de entrenamiento  <span>*</span></ion-label>
          <ion-textarea formControlName="indicar" placeholder="placeholder"></ion-textarea>
        </ion-item>

      </ion-list>

      <div class="px-2 py-1 mt-5">
        <a class="btn-next"  type="button" (click)="updateFicha()" expand="block">Siguiente
        </a>
      </div>
      </form>
    </div>
  </app-collectdata-layout>
</ion-content>
