<ion-content>
  <app-collectdata-layout>
    <div class="overflow-auto d-flex flex-column h-100" >
      <div class="d-block p-3">
        <h3>
          Preguntas importantes
        </h3>

      </div>
      <ion-list lines="full" class="ion-no-margin">
        <ion-item class="mt-2">
          <ion-label>¿Cuentas con balanza en casa? <span>*</span></ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="mt-2">
          <ion-label position="stacked">¿Cuentas con balanza de alimentos en casa?  <span>*</span></ion-label>
          <ion-textarea placeholder="placeholder"></ion-textarea>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label>¿Cuentas con accesorios para entrenar en casa? <span>*</span></ion-label>
          <ion-select >
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="mt-2">
          <ion-label position="stacked">Indicar accesorios de entrenamiento  <span>*</span></ion-label>
          <ion-textarea placeholder="placeholder"></ion-textarea>
        </ion-item>

      </ion-list>

      <div class="px-2 py-1 mt-5">
        <a class="btn-next"  type="button" (click)="go()" expand="block">Siguiente
        </a>
      </div>
    </div>
  </app-collectdata-layout>
</ion-content>
